# Virtual Environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Vector DB / downloads
vector_db/
downloads/

# OS files
.DS_Store

downloades/
vector_db/
*.wav
downloades/*.wav
